node_modules
/npm-debug.log
/data
/coverage
/.nyc_output
/ui/src/bundles
/ui/.nuxt/
/ui/src/pages/interoperate
/ui/src/pages/user-guide
/ui/dist/
/ui/nuxt-dist
/ui/src/assets/css/
/ui/src/assets/fonts/
/doc/dist
/doc/.nuxt
/doc/static/install/*/data
.cache-require-paths.json
/api/config/local-*
.type/
/tmp
.env