/node_modules
/npm-debug.log
/public/bundles
/data
/coverage
/.nyc_output
/.nuxt/
/plugins/*
/public/pages/interoperate
/public/pages/user-guide
/doc-dist
.cache-require-paths.json
/dist/
/nuxt-dist
/config/local-*

# using yarn is recommended
package-lock.json

# yarn without using zero-installs mode
# cf https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions