layout {
    pane {
      split_direction "vertical"
      pane name="data-fair" borderless=true {
        command "bash"
        args "-ic" "nvm use && bash"
      }
      pane name="deps" {
        command "bash"
        args "-ic" "npm run dev-deps && watch -n 4 \"docker compose ps --all --format 'table {{.Name}}\t{{.Status}}'\""
      }
    }
    pane {
      split_direction "vertical"
      pane name="client" {
        command "bash"
        args "-ic" "nvm use && npm run dev-ui"
      }
      pane name="server" {
        command "bash"
        args "-ic" "nvm use && npm run dev-api"
      }
    }
    pane size=1 borderless=true {
        command "bash"
        args "-ic" "echo -n -e \"Dev server available at \\e[1;96mhttp://localhost:5600\\033[0m\""
    }
}