layout {
    pane {
      split_direction "vertical"
      pane name="data-fair" borderless=true {
        command "bash"
        args "-ic" "nvm use && bash"
      }
      pane name="deps" {
        command "bash"
        args "-ic" "npm run dev-deps && dc --profile dev logs -f"
      }
    }
    pane {
      split_direction "vertical"
      pane name="client" {
        command "bash"
        args "-ic" "nvm use && npm run dev-client"
      }
      pane name="server" {
        command "bash"
        args "-ic" "nvm use && DEBUG=upgrade*,i18n*,catalogs*,thumbnails,workers* NODE_ENV=development nodemon --exitcrash server"
      }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}