services:
  
  nginx:
    image: nginx:1.23.1-alpine
    network_mode: host
    environment:
      - NGINX_PORT1=${NGINX_PORT1}
      - NGINX_PORT2=${NGINX_PORT2}
      - DEV_API_PORT=${DEV_API_PORT}
      - DEV_UI_PORT=${DEV_UI_PORT}
      - SD_PORT=${SD_PORT}
      - CAPTURE_PORT=${CAPTURE_PORT}
      - OAV_PORT=${OAV_PORT}
      - EVENTS_PORT=${EVENTS_PORT}
      - CATALOGS_PORT=${CATALOGS_PORT}
    volumes:
      - ./dev/resources/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro

  es:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/elasticsearch:8.19.9
    ports:
      - ${ES_PORT}:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "localhost", "9200"]
      start_period: 10s
      interval: 5s
      retries: 5

  mongodb:
    profiles:
      - dev
      - test
    image: mongo:8.0.17
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - mongodb-data:/data/db

  s3mock:
    profiles:
      - dev
      - test
    image: adobe/s3mock:latest
    environment:
      - COM_ADOBE_TESTING_S3MOCK_STORE_INITIAL_BUCKETS=buckettest,buckerdev
      - COM_ADOBE_TESTING_S3MOCK_STORE_ROOT=s3root
    ports:
      - ${S3_PORT}:9090
    volumes:
      - s3mock-data:/s3root

  sd:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:master
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - PORT=${SD_PORT}
      - DEBUG=webhooks,auth
      - ADMINS=["alban.mouton@koumoul.com", "superadmin@test.com"]
      - 'IDENTITIES_WEBHOOKS=[{"base": "http://localhost:${NGINX_PORT}/api/v1/identities", "key": "dev_secret"}]'
      - PUBLIC_URL=http://localhost:${NGINX_PORT1}/simple-directory
      - PRIVATE_EVENTS_URL=http://events:${EVENTS_PORT}
      - MAILDEV_ACTIVE=true
      - STORAGE_TYPE=file
      #- STORAGE_TYPE=mongo
      - STORAGE_MONGO_URL=mongodb://localhost:${MONGO_PORT}/simple-directory
      - NUXT_BUILD_BLOCKING=false
      - NO_UI=${NO_UI}
      - AUTHRATELIMIT_ATTEMPTS=200
      - AUTHRATELIMIT_DURATION=1
      - DEFAULT_MAX_CREATED_ORGS=10
      - ANONYMOUS_ACTION_NOT_BEFORE=1s
      - MANAGE_DEPARTMENTS=true
      - MANAGE_PARTNERS=true
      - MANAGE_SITES=true
      - LIST_USERS_MODE=admin
      - LIST_ORGANIZATIONS_MODE=authenticated
      - OBSERVER_ACTIVE=false
      - ROLES_DEFAULTS=["admin","contrib","user"]
      - CONTACT=contact@test.com
      - CIPHER_PASSWORD=test
    volumes:
      - ./dev/resources/users.json:/webapp/data/users.json
      - ./dev/resources/organizations.json:/webapp/data/organizations.json
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "localhost", "${SD_PORT}"]
      interval: 5s

  openapi-viewer:
    profiles:
      - dev
    image: ghcr.io/data-fair/openapi-viewer:feat-implement-serialize-query-params
    network_mode: host
    environment:
      - PORT=${OAV_PORT}
      - USE_SIMPLE_DIRECTORY=true
      - PRIVATE_DIRECTORY_URL=http://localhost:${NGINX_PORT1}/simple-directory
      - ALLOWED_URLS={"general":"http://localhost:5600/data-fair/api/v1/api-docs.json","dataset":"http://localhost:5600/data-fair/api/v1/datasets/{id}/api-docs.json","privateDataset":"http://localhost:5600/data-fair/api/v1/datasets/{id}/private-api-docs.json","application":"http://localhost:5600/data-fair/api/v1/applications/{id}/api-docs.json","remoteService":"http://localhost:5600/data-fair/api/v1/remote-services/{id}/api-docs.json"}

  capture:
    profiles:
      - dev
    image: ghcr.io/data-fair/capture:master
    network_mode: host
    shm_size: '1gb'
    environment:
      - PORT=${CAPTURE_PORT}
      - DEBUG=capture
      - PUBLIC_URL=http://localhost:${NGINX_PORT1}/capture
      - ONLY_SAME_HOST=false
      - PROMETHEUS_ACTIVE=false
      - PUPPETEER_ARGS=["--no-sandbox"]

  events:
    profiles:
      - dev
    image: ghcr.io/data-fair/events:main
    ports:
      - ${EVENTS_PORT}:8080
    depends_on:
      - mongodb
    environment:
      - PRIVATE_DIRECTORY_URL=http://sd:${SD_PORT}
      - MONGO_URL=mongodb://mongo:${MONGO_PORT}/events
      - SECRET_IDENTITIES=secret-identities
      - SECRET_EVENTS=secret-notifications
      - SECRET_SENDMAILS=secret-sendmails
      - OBSERVER_ACTIVE=false

  # catalogs:
  #   profiles:
  #     - dev
  #   image: ghcr.io/data-fair/catalogs:master
  #   ports:
  #     - ${CATALOGS_PORT}:8080
  #   depends_on:
  #     - mongodb
  #   environment:
  #     - DEBUG=webhooks-*
  #     - OBSERVER_ACTIVE=false
  #     - PRIVATE_DIRECTORY_URL=http://sd:${SD_PORT}
  #     - PRIVATE_EVENTS_URL=http://events:${EVENTS_PORT}
  #     - MONGO_URL=mongodb://mongo:${MONGO_PORT}/catalogs
  #     - CIPHER_PASSWORD=test
  #     - SECRET_EVENTS=secret-notifications
  #     - SECRET_CATALOGS=secret-catalogs
  #     - SECRET_IDENTITIES=secret-identities
  #     - IGNORE_ASSERT_REQ_INTERNAL=true
  #     - DATA_DIR=/data
  #   volumes:
  #     - ./data/catalogs:/data

  clamav:
    image: clamav/clamav:1.5.1
    profiles:
      - dev
      - test
    healthcheck:
        test: ["CMD", "nc", "-z", "-v", "localhost", "3310"]
    volumes:
      - clamav-data:/var/lib/clamav
      - clamav-tmp:/tmp
    environment:
      - CLAMAV_NO_FRESHCLAMD=true
      - CLAMAV_NO_MILTERD=true
    ports:
      - ${CLAMAV_PORT}:3310

volumes:
  elasticsearch-data:
  mongodb-data:
  clamav-data:
  clamav-tmp:
  s3mock-data: