version: '3'
services:
  nginx:
    image: nginx:1.23.1-alpine
    profiles:
      - dev
      - test
    network_mode: host
    volumes:
      - ./test/resources/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  es:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/elasticsearch:7.x
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      timeout: 10s
      interval: 2s
      retries: 50

  mongodb:
    profiles:
      - dev
      - test
    image: mongo:4.2
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db

  sd:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:master
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - DEBUG=webhooks,auth
      - ADMINS=["alban.mouton@koumoul.com", "superadmin@test.com"]
      - 'IDENTITIES_WEBHOOKS=[{"base": "http://localhost:5600/api/v1/identities", "key": "dev_secret"}]'
      - PUBLIC_URL=http://localhost:5600/simple-directory
      - NOTIFY_URL=http://localhost:5600/notify
      - PRIVATE_NOTIFY_URL=http://notify:8088
      - MAILDEV_ACTIVE=true
      - STORAGE_TYPE=file
      #- STORAGE_TYPE=mongo
      - STORAGE_MONGO_URL=mongodb://localhost:27017/simple-directory
      - NUXT_BUILD_BLOCKING=false
      - NO_UI=${NO_UI}
      - AUTHRATELIMIT_ATTEMPTS=200
      - DEFAULT_MAX_CREATED_ORGS=10
      - ANONYMOUS_ACTION_NOT_BEFORE=1s
      - MANAGE_DEPARTMENTS=true
      - MANAGE_PARTNERS=true
      - LIST_USERS_MODE=admin
      - LIST_ORGANIZATIONS_MODE=authenticated
      - PROMETHEUS_ACTIVE=false
      - ROLES_DEFAULTS=["admin","contrib","user"]
    volumes:
      - ./test/resources/users.json:/webapp/data/users.json
      - ./test/resources/organizations.json:/webapp/data/organizations.json

  openapi-viewer:
    profiles:
      - dev
    image: ghcr.io/data-fair/openapi-viewer:1
    ports:
      - 5680:8080

  capture:
    profiles:
      - dev
    image: ghcr.io/data-fair/capture:master
    network_mode: host
    shm_size: '1gb'
    environment:
      - PORT=8087
      - DEBUG=capture
      - PUBLIC_URL=http://localhost:5600/capture
      - ONLY_SAME_HOST=false
      - PROMETHEUS_ACTIVE=false
      - PUPPETEER_ARGS=["--no-sandbox"]

  notify:
    profiles:
      - dev
    image: ghcr.io/data-fair/notify:master
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - PORT=8088
      - PUBLIC_URL=http://localhost:5600/notify
      - WS_PUBLIC_URL=ws://localhost:5600/notify
      - DIRECTORY_URL=http://localhost:5600/simple-directory
      - SECRET_NOTIFICATIONS=secret-notifications
      - SECRET_SENDMAILS=secret-sendmails
      - PROMETHEUS_ACTIVE=false

  clamav:
    image: clamav/clamav:1.1
    profiles:
      - dev
    healthcheck:
        test: ["CMD", "nc", "-z", "-v", "localhost", "3310"]
    volumes:
      - ./data:/data/data-fair
    ports:
      - 3310:3310

  redis:
    image: redis
    profiles:
      - udata
    volumes:
      - redis-data:/data
    ports:
    - 6379:6379

  udata:
    # init udata after running:
    # docker exec -it data-fair-udata-1 bash
    # udata init
    # udata user create
    # udata user set-admin alban83@gmail.com
    image: udata/udata
    network_mode: host
    profiles:
      - udata
    depends_on:
      - mongodb
      - redis
    volumes:
      - udata-fs:/udata/fs
      - ./test/resources/udata.cfg:/udata/udata.cfg

volumes:
  elasticsearch-data:
  mongo-data:
  udata-fs:
  redis-data:
