services:
  nginx:
    image: nginx:1.23.1-alpine
    profiles:
      - dev
      - test
    network_mode: host
    volumes:
      - ./test/resources/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  es:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/elasticsearch:7.x
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
    volumes:
      - elasticsearch-data7:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "localhost", "9200"]
      start_period: 10s
      interval: 5s
      retries: 5

  mongodb:
    profiles:
      - dev
      - test
    image: mongo:4.4
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db

  sd:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:master
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - DEBUG=webhooks,auth
      - ADMINS=["alban.mouton@koumoul.com", "superadmin@test.com"]
      - 'IDENTITIES_WEBHOOKS=[{"base": "http://localhost:5600/api/v1/identities", "key": "dev_secret"}]'
      - PUBLIC_URL=http://localhost:5600/simple-directory
      - NOTIFY_URL=http://localhost:5600/notify
      - PRIVATE_NOTIFY_URL=http://notify:8088
      - MAILDEV_ACTIVE=true
      - STORAGE_TYPE=file
      #- STORAGE_TYPE=mongo
      - STORAGE_MONGO_URL=mongodb://localhost:27017/simple-directory
      - NUXT_BUILD_BLOCKING=false
      - NO_UI=${NO_UI}
      - AUTHRATELIMIT_ATTEMPTS=200
      - AUTHRATELIMIT_DURATION=1
      - DEFAULT_MAX_CREATED_ORGS=10
      - ANONYMOUS_ACTION_NOT_BEFORE=1s
      - MANAGE_DEPARTMENTS=true
      - MANAGE_PARTNERS=true
      - MANAGE_SITES=true
      - LIST_USERS_MODE=admin
      - LIST_ORGANIZATIONS_MODE=authenticated
      - OBSERVER_ACTIVE=false
      - ROLES_DEFAULTS=["admin","contrib","user"]
      - CONTACT=contact@test.com
      - CIPHER_PASSWORD=test
    volumes:
      - ./test/resources/users.json:/webapp/data/users.json
      - ./test/resources/organizations.json:/webapp/data/organizations.json
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "localhost", "8080"]
      interval: 5s

  openapi-viewer:
    profiles:
      - dev
    image: ghcr.io/data-fair/openapi-viewer:feat-implement-serialize-query-params
    network_mode: host
    environment:
      - PORT=5680
      - USE_SIMPLE_DIRECTORY=true
      - PRIVATE_DIRECTORY_URL=http://localhost:5600/simple-directory
      - ALLOWED_URLS={"general":"http://localhost:5600/data-fair/api/v1/api-docs.json","dataset":"http://localhost:5600/data-fair/api/v1/datasets/{id}/api-docs.json","privateDataset":"http://localhost:5600/data-fair/api/v1/datasets/{id}/private-api-docs.json","application":"http://localhost:5600/data-fair/api/v1/applications/{id}/api-docs.json","remoteService":"http://localhost:5600/data-fair/api/v1/remote-services/{id}/api-docs.json"}

  capture:
    profiles:
      - dev
    image: ghcr.io/data-fair/capture:master
    network_mode: host
    shm_size: '1gb'
    environment:
      - PORT=8087
      - DEBUG=capture
      - PUBLIC_URL=http://localhost:5600/capture
      - ONLY_SAME_HOST=false
      - PROMETHEUS_ACTIVE=false
      - PUPPETEER_ARGS=["--no-sandbox"]

  events:
    profiles:
      - dev
    image: ghcr.io/data-fair/events:main
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - PORT=8088
      - PRIVATE_DIRECTORY_URL=http://localhost:5600/simple-directory
      - SECRET_IDENTITIES=secret-identities
      - SECRET_EVENTS=secret-notifications
      - SECRET_SENDMAILS=secret-sendmails
      - OBSERVER_ACTIVE=false

  catalogs:
    profiles:
      - dev
    image: ghcr.io/data-fair/catalogs:master
    network_mode: host
    depends_on:
      - mongodb
    environment:
      - DEBUG=webhooks-*
      - PORT=8089
      - OBSERVER_ACTIVE=false
      - PRIVATE_DIRECTORY_URL=http://localhost:5600/simple-directory
      - PRIVATE_EVENTS_URL=http://localhost:5600/notify
      - CIPHER_PASSWORD=test
      - SECRET_EVENTS=secret-notifications
      - SECRET_CATALOGS=secret-catalogs
      - SECRET_IDENTITIES=secret-identities
      - IGNORE_ASSERT_REQ_INTERNAL=true
      - DATA_DIR=/data
    volumes:
      - ./data/catalogs:/data

  clamav:
    image: clamav/clamav:1.1
    profiles:
      - dev
    healthcheck:
        test: ["CMD", "nc", "-z", "-v", "localhost", "3310"]
    volumes:
      - ./data:/data/data-fair
      - clamav-data:/var/lib/clamav
    environment:
      - CLAMAV_NO_FRESHCLAMD=true
      - CLAMAV_NO_MILTERD=true
    ports:
      - 3310:3310

  redis:
    image: redis
    profiles:
      - udata
    volumes:
      - redis-data:/data
    ports:
    - 6379:6379

  udata:
    # init udata after running:
    # docker exec -it data-fair-udata-1 bash
    # udata init
    # udata user create
    # udata user set-admin alban83@gmail.com
    image: udata/udata
    # exposed on port 7000
    network_mode: host
    profiles:
      - udata
    depends_on:
      - mongodb
      - redis
    volumes:
      - udata-fs:/udata/fs
      - ./test/resources/udata.cfg:/udata/udata.cfg

volumes:
  elasticsearch-data7:
  mongo-data:
  udata-fs:
  redis-data:
  clamav-data: